.adaptive-switch {
	display: inline-block;
	white-space: nowrap;

	line-height: 200%;
}

.adaptive-switch .switch-clear {
	clear: both;
}

.adaptive-switch img {
	height: 100%;
}

.adaptive-switch .switch-inner {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.adaptive-switch,
.adaptive-switch .switch-inner {
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
}

.adaptive-switch label.switch-label {
	display: block;;
	padding: 0 2em;
	color: #00709f;
}
.adaptive-switch label.switch-label span {
	padding: 0 1em;
}
.adaptive-switch label.switch-label-right {
	padding-left: 0;
}
.adaptive-switch label.switch-label-left {
	padding-right: 0;
}

.adaptive-switch .switch-switcher {
	position: absolute;
	top: 0;
	height: 100%;
	width: 200%;

	left: -100%;
	transition: left 0.2s linear;
}
.adaptive-switch.switch-right .switch-switcher {
	left: 0;
}
.adaptive-switch .switch-switcher label.switch-label {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	cursor: pointer;
}

.adaptive-switch .switch-dot {
	background-color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	text-align: right;
	padding-right: 100%;
	padding-right: calc(100% - 2em);
	transition: padding-right 0.2s linear;
}
.adaptive-switch.switch-right .switch-dot {
	padding-right: 0;
}
.adaptive-switch .switch-dot img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.adaptive-switch .switch-dot,
.adaptive-switch .switch-switcher label.switch-label {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Customize size */

.adaptive-switch {
	font-size: 11px;
}

/* Customize style */

.adaptive-switch {
	border: 1px solid #ddd;
	padding: 2px;
	font-family: sans;

	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.adaptive-switch .switch-dot img {
	background-color: #00709f;
}

.adaptive-switch .switch-switcher label.switch-label {
	color: #00709f;
}

/* Do not make text selection when doubleclicked */
.adaptive-switch ::-moz-selection {
	background: transparent;
}
.adaptive-switch ::selection {
	background: transparent;
}

/* Hide native checkbox in Mac */
input.adaptive-switch-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: none;
}
